# Godot cache/imported files
.godot/
.import/

# Export builds
exports/*
!exports/.gitkeep
!exports/.gdignore
!exports/web/
exports/web/*
!exports/web/vercel.json

# Temporary files
*.tmp
*.temp

# OS junk
.DS_Store
Thumbs.db
